body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.inner-wheel {
  left: 7.5vh;
  top: 7.5vh;
  border-radius: 50%;
  position: absolute;
  height: 75vh;
  width: 75vh;
  border-color: black;
  border-style: solid;
  border-width: 0.3vh;
}
#ring-wheel {
  transform: translateX(36.5vh) translateY(36.5vh);
  border-radius: 50%;
  height: 1vw;
  width: 1vw;
  border-color: burlywood;
  border-style: solid;
  border-width: 0.2vw;
}

/* each out position needs specific styling to transpose the values around the circlular center point */
/* this is done for the outer wheel the inner wheel and each layer of data points */
/* setting the data to an absolute point close in the center */
.data {
  position: absolute;
  left: calc(50% - 8vh);
  top: calc(50% - 0.5vh);
}
/* pivot each data item to a specific angle around the wheel */
.pos-data-0 {
  rotate: 0deg;
}
.pos-data-1 {
  rotate: 22.5deg;
}
.pos-data-2 {
  rotate: 45deg;
}
.pos-data-3 {
  rotate: 67.5deg;
}
.pos-data-4 {
  rotate: 90deg;
}
.pos-data-5 {
  rotate: 112.5deg;
}
.pos-data-6 {
  rotate: 135deg;
}
.pos-data-7 {
  rotate: 157.5deg;
}
.pos-data-8 {
  rotate: 180deg;
}
.pos-data-9 {
  rotate: 202.5deg;
}
.pos-data-10 {
  rotate: 225deg;
}
.pos-data-11 {
  rotate: 247.5deg;
}
.pos-data-12 {
  rotate: 270deg;
}
.pos-data-13 {
  rotate: 292.5deg;
}
.pos-data-14 {
  rotate: 315deg;
}
.pos-data-15 {
  rotate: 337.5deg;
}
/* place each of the items of data closer or further from the edge */
.outer {
  width: 16vh;
  transform: translateY(-42vh);
}
.inner {
  width: 16vh;
  transform: translateY(-35vh);
}
.layer-one {
  width: 16vh;
  transform: translateY(-33vh);
}
.layer-two {
  width: 16vh;
  transform: translateY(-30vh);
}
.layer-three {
  width: 16vh;
  transform: translateY(-27vh);
}
.layer-four {
  width: 16vh;
  transform: translateY(-24vh);
}
.layer-five {
  width: 16vh;
  transform: translateY(-21vh);
}
.layer-six {
  width: 5.5vh;
  left: calc(50% - 3vh);
  transform: translateY(-18vh);
}
.layer-seven {
  width: 5.5vh;
  left: calc(50% - 3vh);
  transform: translateY(-14vh);
}
.layer-eight {
  width: 5.5vh;
  left: calc(50% - 3vh);
  transform: translateY(-10vh);
}

/* title, subtitle and logo are always the same distance from the center */
.title-pos {
  position: absolute;
  font-size: 2.5em;
  left: calc(50% - 14.5vh);
  top: calc(50% - 6vh);
  transform: translateY(-24vh);
}

.subtitle-pos {
  position: absolute;
  font-size: 1.8em;
  left: calc(50% - 18.5vh);
  top: calc(50% - 5vh);
  transform: translateY(-20vh);
}

.logo {
  height: 10vh;
  position: absolute;
  left: calc(50% - 12vh);
  top: calc(50% - 3vh);
}

/* the title, subtitle and logo are at an off angle between two points on the wheel */

.title-0 {
  rotate: 11.25deg;
}
.title-1 {
  rotate: 33.75deg;
}
.title-2 {
  rotate: 56.25deg;
}
.title-3 {
  rotate: 78.75deg;
}
.title-4 {
  rotate: 101.25deg;
}
.title-5 {
  rotate: 123.75deg;
}
.title-6 {
  rotate: 146.25deg;
}
.title-7 {
  rotate: 168.75deg;
}
.title-8 {
  rotate: 191.25deg;
}
.title-9 {
  rotate: 213.75deg;
}
.title-10 {
  rotate: 236.25deg;
}
.title-11 {
  rotate: 258.75deg;
}
.title-12 {
  rotate: 281.25deg;
}
.title-13 {
  rotate: 303.75deg;
}
.title-14 {
  rotate: 326.25deg;
}
.title-15 {
  rotate: 348.75deg;
}

/* numbers are emboldened here for easy reference by the user */
.number {
  font-weight: bold;
}
