:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
#background {
  display: flex;
  align-items: center;
  justify-content: center;
}
#outer-wheel {
  font-size: 1.5vh;
  position: relative;
  border-radius: 50%;
  height: 90vh;
  width: 90vh;
  border-color: black;
  border-style: solid;
  border-width: 0.3vh;
  background-color: antiquewhite;
  color: black;
}
#inner-wheel {
  /* margin-left: auto;
  margin-right: auto;
  margin: auto;
  transform: translateY(-28vh); */
  left: 7vh;
  top: 7vh;
  border-radius: 50%;
  position: absolute;
  height: 75vh;
  width: 75vh;
  border-color: black;
  border-style: solid;
  border-width: 0.3vh;
}
#ring-wheel {
  transform: translateX(36.5vh) translateY(36.5vh);
  border-radius: 50%;
  /* margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto; */
  height: 1vw;
  width: 1vw;
  border-color: burlywood;
  border-style: solid;
  border-width: 0.2vw;
}

.outer-0 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: translateY(-42vh);
}
.outer-1 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(22.5deg) translateY(-42vh);
}
.outer-2 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(45deg) translateY(-42vh);
}
.outer-3 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(67.5deg) translateY(-42vh);
}
.outer-4 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(90deg) translateY(-42vh);
}
.outer-5 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(112.5deg) translateY(-41vh);
}
.outer-6 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(135deg) translateY(-41vh);
}
.outer-7 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(157.5deg) translateY(-41vh);
}
.outer-8 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(180deg) translateY(-41vh);
}
.outer-9 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(202.5deg) translateY(-41vh);
}
.outer-10 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(225deg) translateY(-41vh);
}
.outer-11 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(247.5deg) translateY(-41vh);
}
.outer-12 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(270deg) translateY(-42vh);
}
.outer-13 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(292.5deg) translateY(-42vh);
}
.outer-14 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(315deg) translateY(-42vh);
}
.outer-15 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(337.5deg) translateY(-42vh);
}

.inner-0 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: translateY(-36vh);
}
.inner-1 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(22.5deg) translateY(-36vh);
}
.inner-2 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(45deg) translateY(-36vh);
}
.inner-3 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(67.5deg) translateY(-36vh);
}
.inner-4 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(90deg) translateY(-36vh);
}
.inner-5 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(112.5deg) translateY(-35vh);
}
.inner-6 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(135deg) translateY(-35vh);
}
.inner-7 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(157.5deg) translateY(-35vh);
}
.inner-8 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(180deg) translateY(-35vh);
}
.inner-9 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(202.5deg) translateY(-35vh);
}
.inner-10 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(225deg) translateY(-35vh);
}
.inner-11 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(247.5deg) translateY(-35vh);
}
.inner-12 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(270deg) translateY(-36vh);
}
.inner-13 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(292.5deg) translateY(-36vh);
}
.inner-14 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(315deg) translateY(-36vh);
}
.inner-15 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(337.5deg) translateY(-36vh);
}

.layer-one-0 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: translateY(-33vh);
}
.layer-one-1 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(22.5deg) translateY(-33vh);
  border-top-style: solid;
}
.layer-one-2 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(45deg) translateY(-33vh);
}
.layer-one-3 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(67.5deg) translateY(-33vh);
}
.layer-one-4 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(90deg) translateY(-33vh);
}
.layer-one-5 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(112.5deg) translateY(-32vh);
}
.layer-one-6 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(135deg) translateY(-32vh);
}
.layer-one-7 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(157.5deg) translateY(-32vh);
}
.layer-one-8 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(180deg) translateY(-32vh);
}
.layer-one-9 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(202.5deg) translateY(-32vh);
}
.layer-one-10 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(225deg) translateY(-32vh);
}
.layer-one-11 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(247.5deg) translateY(-32vh);
}
.layer-one-12 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(270deg) translateY(-32vh);
}
.layer-one-13 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(292.5deg) translateY(-33vh);
}
.layer-one-14 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(315deg) translateY(-33vh);
}
.layer-one-15 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(337.5deg) translateY(-33vh);
  border-top-style: solid;
}

.layer-two-0 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: translateY(-30vh);
}
.layer-two-1 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(22.5deg) translateY(-30vh);
}
.layer-two-2 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(45deg) translateY(-30vh);
}
.layer-two-3 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(67.5deg) translateY(-30vh);
}
.layer-two-4 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(90deg) translateY(-30vh);
}
.layer-two-5 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(112.5deg) translateY(-29vh);
}
.layer-two-6 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(135deg) translateY(-29vh);
}
.layer-two-7 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(157.5deg) translateY(-29vh);
}
.layer-two-8 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(180deg) translateY(-29vh);
}
.layer-two-9 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(202.5deg) translateY(-29vh);
}
.layer-two-10 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(225deg) translateY(-29vh);
}
.layer-two-11 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(247.5deg) translateY(-29vh);
}
.layer-two-12 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(270deg) translateY(-29vh);
}
.layer-two-13 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(292.5deg) translateY(-30vh);
}
.layer-two-14 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(315deg) translateY(-30vh);
}
.layer-two-15 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(337.5deg) translateY(-30vh);
}
.layer-three-0 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: translateY(-27vh);
}
.layer-three-1 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(22.5deg) translateY(-27vh);
}
.layer-three-2 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(45deg) translateY(-27vh);
}
.layer-three-3 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(67.5deg) translateY(-27vh);
}
.layer-three-4 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(90deg) translateY(-27vh);
}
.layer-three-5 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(112.5deg) translateY(-26vh);
}
.layer-three-6 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(135deg) translateY(-26vh);
}
.layer-three-7 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(157.5deg) translateY(-26vh);
}
.layer-three-8 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(180deg) translateY(-26vh);
}
.layer-three-9 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(202.5deg) translateY(-26vh);
}
.layer-three-10 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(225deg) translateY(-26vh);
}
.layer-three-11 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(247.5deg) translateY(-26vh);
}
.layer-three-12 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(270deg) translateY(-26vh);
}
.layer-three-13 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(292.5deg) translateY(-27vh);
}
.layer-three-14 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(315deg) translateY(-27vh);
}
.layer-three-15 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(337.5deg) translateY(-27vh);
}
.layer-four-0 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: translateY(-24vh);
}
.layer-four-1 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(22.5deg) translateY(-24vh);
}
.layer-four-2 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(45deg) translateY(-24vh);
}
.layer-four-3 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(67.5deg) translateY(-24vh);
}
.layer-four-4 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(90deg) translateY(-24vh);
}
.layer-four-5 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(112.5deg) translateY(-23vh);
}
.layer-four-6 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(135deg) translateY(-23vh);
}
.layer-four-7 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(157.5deg) translateY(-23vh);
}
.layer-four-8 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(180deg) translateY(-23vh);
}
.layer-four-9 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(202.5deg) translateY(-23vh);
}
.layer-four-10 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(225deg) translateY(-23vh);
}
.layer-four-11 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(247.5deg) translateY(-23vh);
}
.layer-four-12 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(270deg) translateY(-23vh);
}
.layer-four-13 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(292.5deg) translateY(-24vh);
}
.layer-four-14 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(315deg) translateY(-24vh);
}
.layer-four-15 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(337.5deg) translateY(-24vh);
}
.layer-five-0 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: translateY(-21vh);
}
.layer-five-1 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(22.5deg) translateY(-21vh);
}
.layer-five-2 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(45deg) translateY(-21vh);
}
.layer-five-3 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(67.5deg) translateY(-21vh);
}
.layer-five-4 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(90deg) translateY(-21vh);
}
.layer-five-5 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(112.5deg) translateY(-20vh);
}
.layer-five-6 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(135deg) translateY(-20vh);
}
.layer-five-7 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(157.5deg) translateY(-20vh);
}
.layer-five-8 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(180deg) translateY(-20vh);
}
.layer-five-9 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(202.5deg) translateY(-20vh);
}
.layer-five-10 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(225deg) translateY(-20vh);
}
.layer-five-11 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(247.5deg) translateY(-20vh);
}
.layer-five-12 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(270deg) translateY(-20vh);
}
.layer-five-13 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(292.5deg) translateY(-21vh);
}
.layer-five-14 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(315deg) translateY(-21vh);
}
.layer-five-15 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(337.5deg) translateY(-21vh);
}

.layer-six-0 {
  position: absolute;
  width: 5.5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: translateY(-18vh);
}
.layer-six-1 {
  position: absolute;
  width: 5.5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(22.5deg) translateY(-18vh);
}
.layer-six-2 {
  position: absolute;
  width: 5.5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(45deg) translateY(-18vh);
}
.layer-six-3 {
  position: absolute;
  width: 5.5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(67.5deg) translateY(-18vh);
}
.layer-six-4 {
  position: absolute;
  width: 5.5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(90deg) translateY(-18vh);
}
.layer-six-5 {
  position: absolute;
  width: 5.5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(112.5deg) translateY(-17vh);
}
.layer-six-6 {
  position: absolute;
  width: 5.5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(135deg) translateY(-17vh);
}
.layer-six-7 {
  position: absolute;
  width: 5.5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(157.5deg) translateY(-17vh);
}
.layer-six-8 {
  position: absolute;
  width: 5.5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(180deg) translateY(-17vh);
}
.layer-six-9 {
  position: absolute;
  width: 5.5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(202.5deg) translateY(-17vh);
}
.layer-six-10 {
  position: absolute;
  width: 5.5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(225deg) translateY(-17vh);
}
.layer-six-11 {
  position: absolute;
  width: 5.5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(247.5deg) translateY(-17vh);
}
.layer-six-12 {
  position: absolute;
  width: 5.5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(270deg) translateY(-17vh);
}
.layer-six-13 {
  position: absolute;
  width: 5.5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(292.5deg) translateY(-18vh);
}
.layer-six-14 {
  position: absolute;
  width: 5.5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(315deg) translateY(-18vh);
}
.layer-six-15 {
  position: absolute;
  width: 5.5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(337.5deg) translateY(-18vh);
}

.layer-seven-0 {
  position: absolute;
  width: 5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: translateY(-14vh);
}
.layer-seven-1 {
  position: absolute;
  width: 5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(22.5deg) translateY(-14vh);
}
.layer-seven-2 {
  position: absolute;
  width: 5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(45deg) translateY(-14vh);
}
.layer-seven-3 {
  position: absolute;
  width: 5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(67.5deg) translateY(-14vh);
}
.layer-seven-4 {
  position: absolute;
  width: 5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(90deg) translateY(-14vh);
}
.layer-seven-5 {
  position: absolute;
  width: 5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(112.5deg) translateY(-13vh);
}
.layer-seven-6 {
  position: absolute;
  width: 5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(135deg) translateY(-13vh);
}
.layer-seven-7 {
  position: absolute;
  width: 5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(157.5deg) translateY(-13vh);
}
.layer-seven-8 {
  position: absolute;
  width: 5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(180deg) translateY(-13vh);
}
.layer-seven-9 {
  position: absolute;
  width: 5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(202.5deg) translateY(-13vh);
}
.layer-seven-10 {
  position: absolute;
  width: 5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(225deg) translateY(-13vh);
}
.layer-seven-11 {
  position: absolute;
  width: 5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(247.5deg) translateY(-13vh);
}
.layer-seven-12 {
  position: absolute;
  width: 5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(270deg) translateY(-13vh);
}
.layer-seven-13 {
  position: absolute;
  width: 5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(292.5deg) translateY(-14vh);
}
.layer-seven-14 {
  position: absolute;
  width: 5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(315deg) translateY(-13vh);
}
.layer-seven-15 {
  position: absolute;
  width: 5vh;
  overflow-wrap: break-word;
  left: calc(50% - 3vh);
  top: calc(50%);
  transform: rotate(337.5deg) translateY(-14vh);
}

.layer-eight-0 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: translateY(-11vh);
}
.layer-eight-1 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(22.5deg) translateY(-11vh);
}
.layer-eight-2 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(45deg) translateY(-11vh);
}
.layer-eight-3 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(67.5deg) translateY(-11vh);
}
.layer-eight-4 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(90deg) translateY(-11vh);
}
.layer-eight-5 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(112.5deg) translateY(-10vh);
}
.layer-eight-6 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(135deg) translateY(-10vh);
}
.layer-eight-7 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(157.5deg) translateY(-10vh);
}
.layer-eight-8 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(180deg) translateY(-10vh);
}
.layer-eight-9 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(202.5deg) translateY(-10vh);
}
.layer-eight-10 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(225deg) translateY(-10vh);
}
.layer-eight-11 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(247.5deg) translateY(-10vh);
}
.layer-eight-12 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(270deg) translateY(-10vh);
}
.layer-eight-13 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(292.5deg) translateY(-11vh);
}
.layer-eight-14 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(315deg) translateY(-11vh);
}
.layer-eight-15 {
  position: absolute;
  width: 16vh;
  left: calc(50% - 8vh);
  top: calc(50%);
  transform: rotate(337.5deg) translateY(-11vh);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
