#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
#background {
  display: flex;
  align-items: center;
  justify-content: center;
}
#info-toggle {
  align-self: flex-start;
  display: flex;
  align-items: flex-start;
}
#info {
  height: 10vh;
  width: 10vh;
}
#toggle-background {
  height: 10vh;
  width: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#toggle-outer-wheel {
  position: relative;
  border-radius: 50%;
  height: 8vh;
  width: 8vh;
  border-color: black;
  border-style: solid;
  border-width: 0.03vh;
  background-color: antiquewhite;
  color: black;
}

#toggle-inner-wheel {
  left: 0.6vh;
  top: 0.6vh;
  border-radius: 50%;
  position: absolute;
  height: 6.5vh;
  width: 6.5vh;
  border-color: black;
  border-style: solid;
  border-width: 0.03vh;
}
#toggle-ring-wheel {
  transform: translateX(2.75vh) translateY(2.75vh);
  border-radius: 50%;
  height: 0.5vw;
  width: 0.5vw;
  border-color: burlywood;
  border-style: solid;
  border-width: 0.02vw;
  background-color: goldenrod;
}

/* the styling for the three main structure components the outer wheel 
inner wheel and the ring in the center */
.outer-wheel {
  font-size: 1.5vh;
  position: relative;
  border-radius: 50%;
  height: 90vh;
  width: 90vh;
  border-color: black;
  border-style: solid;
  border-width: 0.3vh;
  background-color: antiquewhite;
  color: black;
}

.inner-wheel {
  left: 7.5vh;
  top: 7.5vh;
  border-radius: 50%;
  position: absolute;
  height: 75vh;
  width: 75vh;
  border-color: black;
  border-style: solid;
  border-width: 0.3vh;
}
#ring-wheel {
  transform: translateX(36.5vh) translateY(36.5vh);
  border-radius: 50%;
  height: 1vw;
  width: 1vw;
  border-color: burlywood;
  border-style: solid;
  border-width: 0.2vw;
}
.info-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.info-title {
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center;
}
.info-body {
  display: flex;
  height: 50vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5em;
}
.info-text-top {
  max-width: 60vh;
}
.info-text-mid {
  max-width: 65vh;
}
.info-text-bottom {
  max-width: 60vh;
}
/* each out position needs specific styling to transpose the values around the circlular center point */
/* this is done for the outer wheel the inner wheel and each layer of data points */
.title {
  font-size: 2.5em;
  rotate: 11.25deg;
  width: 15vh;
  left: calc(50% - 15vh);
  transform-origin: rotate(11.25deg) translateY(-18vh);
}
.pos-0 {
  position: absolute;
  left: calc(50% - 8vh);
  top: calc(50% - 0.5vh);
  rotate: 0deg;
}
.pos-1 {
  position: absolute;
  left: calc(50% - 8vh);
  top: calc(50% - 0.5vh);
  rotate: 22.5deg;
}
.pos-2 {
  position: absolute;
  left: calc(50% - 8vh);
  top: calc(50% - 0.5vh);
  rotate: 45deg;
}
.pos-3 {
  position: absolute;
  left: calc(50% - 8vh);
  top: calc(50% - 0.5vh);
  rotate: 67.5deg;
}
.pos-4 {
  position: absolute;
  left: calc(50% - 8vh);
  top: calc(50% - 0.5vh);
  rotate: 90deg;
}
.pos-5 {
  position: absolute;
  left: calc(50% - 8vh);
  top: calc(50% - 0.5vh);
  rotate: 112.5deg;
}
.pos-6 {
  position: absolute;
  left: calc(50% - 8vh);
  top: calc(50% - 0.5vh);
  rotate: 135deg;
}
.pos-7 {
  position: absolute;
  left: calc(50% - 8vh);
  top: calc(50% - 0.5vh);
  rotate: 157.5deg;
}
.pos-8 {
  position: absolute;
  left: calc(50% - 8vh);
  top: calc(50% - 0.5vh);
  rotate: 180deg;
}
.pos-9 {
  position: absolute;
  left: calc(50% - 8vh);
  top: calc(50% - 0.5vh);
  rotate: 202.5deg;
}
.pos-10 {
  position: absolute;
  left: calc(50% - 8vh);
  top: calc(50% - 0.5vh);
  rotate: 225deg;
}
.pos-11 {
  position: absolute;
  left: calc(50% - 8vh);
  top: calc(50% - 0.5vh);
  rotate: 247.5deg;
}
.pos-12 {
  position: absolute;
  left: calc(50% - 8vh);
  top: calc(50% - 0.5vh);
  rotate: 270deg;
}
.pos-13 {
  position: absolute;
  left: calc(50% - 8vh);
  top: calc(50% - 0.5vh);
  rotate: 292.5deg;
}
.pos-14 {
  position: absolute;
  left: calc(50% - 8vh);
  top: calc(50% - 0.5vh);
  rotate: 315deg;
}
.pos-15 {
  position: absolute;
  left: calc(50% - 8vh);
  top: calc(50% - 0.5vh);
  rotate: 337.5deg;
}
.outer {
  width: 16vh;
  transform: translateY(-42vh);
}
.inner {
  width: 16vh;
  transform: translateY(-35vh);
}
.layer-one {
  width: 16vh;
  transform: translateY(-33vh);
}
.layer-two {
  width: 16vh;
  transform: translateY(-30vh);
}
.layer-three {
  width: 16vh;
  transform: translateY(-27vh);
}
.layer-four {
  width: 16vh;
  transform: translateY(-24vh);
}
.layer-five {
  width: 16vh;
  transform: translateY(-21vh);
}
.layer-six {
  width: 5.5vh;
  left: calc(50% - 3vh);
  transform: translateY(-18vh);
}
.layer-seven {
  width: 5.5vh;
  left: calc(50% - 3vh);
  transform: translateY(-14vh);
}
.layer-eight {
  width: 5.5vh;
  left: calc(50% - 3vh);
  transform: translateY(-10vh);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* the title and subtitle are at an off angle between two points on the wheel */
.title-0 {
  position: absolute;
  font-size: 2.5em;
  left: calc(50% - 13vh);
  top: calc(50% - 10vh);
  transform: rotate(11.25deg) translateY(-18vh);
}
.title-1 {
  position: absolute;
  font-size: 2.5em;
  left: calc(50% - 11vh);
  top: calc(50% - 9vh);
  transform: rotate(33.75deg) translateY(-18vh);
}
.title-2 {
  position: absolute;
  font-size: 2.5em;
  left: calc(50% - 9vh);
  top: calc(50% - 8vh);
  transform: rotate(56.25deg) translateY(-18vh);
}
.title-3 {
  position: absolute;
  font-size: 2.5em;
  left: calc(50% - 8vh);
  top: calc(50% - 4vh);
  transform: rotate(78.75deg) translateY(-18vh);
}
.title-4 {
  position: absolute;
  font-size: 2.5em;
  left: calc(50% - 9vh);
  top: calc(50% - 2vh);
  transform: rotate(101.25deg) translateY(-18vh);
}
.title-5 {
  position: absolute;
  font-size: 2.5em;
  left: calc(50% - 11vh);
  top: calc(50% + 0vh);
  transform: rotate(123.75deg) translateY(-18vh);
}
.title-6 {
  position: absolute;
  font-size: 2.5em;
  left: calc(50% - 13vh);
  top: calc(50% - 1vh);
  transform: rotate(146.25deg) translateY(-18vh);
}

.title-7 {
  position: absolute;
  font-size: 2.5em;
  left: calc(50% - 15vh);
  top: calc(50% - 1vh);
  transform: rotate(168.75deg) translateY(-18vh);
}
.title-8 {
  position: absolute;
  font-size: 2.5em;
  left: calc(50% - 16vh);
  top: calc(50% - 2vh);
  transform: rotate(191.25deg) translateY(-18vh);
}
.title-9 {
  position: absolute;
  font-size: 2.5em;
  left: calc(50% - 18vh);
  top: calc(50% - 2vh);
  transform: rotate(213.75deg) translateY(-18vh);
}
.title-10 {
  position: absolute;
  font-size: 2.5em;
  left: calc(50% - 20vh);
  top: calc(50% - 4vh);
  transform: rotate(236.25deg) translateY(-18vh);
}
.title-11 {
  position: absolute;
  font-size: 2.5em;
  left: calc(50% - 18vh);
  top: calc(50% - 6vh);
  transform: rotate(258.75deg) translateY(-18vh);
}
.title-12 {
  position: absolute;
  font-size: 2.5em;
  left: calc(50% - 20vh);
  top: calc(50% - 8vh);
  transform: rotate(281.25deg) translateY(-18vh);
}
.title-13 {
  position: absolute;
  font-size: 2.5em;
  left: calc(50% - 18vh);
  top: calc(50% - 10vh);
  transform: rotate(303.75deg) translateY(-18vh);
}
.title-14 {
  position: absolute;
  font-size: 2.5em;
  left: calc(50% - 16vh);
  top: calc(50% - 10vh);
  transform: rotate(326.25deg) translateY(-18vh);
}
.title-15 {
  position: absolute;
  font-size: 2.5em;
  left: calc(50% - 14vh);
  top: calc(50% - 12vh);
  transform: rotate(348.75deg) translateY(-18vh);
}

.subtitle-0 {
  position: absolute;
  font-size: 1.8em;
  left: calc(50% - 16vh);
  top: calc(50% - 13vh);
  transform: rotate(11.25deg) translateY(-10vh);
}
.subtitle-1 {
  position: absolute;
  font-size: 1.8em;
  left: calc(50% - 12.5vh);
  top: calc(50% - 11vh);
  transform: rotate(33.75deg) translateY(-10vh);
}
.subtitle-2 {
  position: absolute;
  font-size: 1.8em;
  left: calc(50% - 10vh);
  top: calc(50% - 9vh);
  transform: rotate(56.25deg) translateY(-10vh);
}
.subtitle-3 {
  position: absolute;
  font-size: 1.8em;
  left: calc(50% - 8vh);
  top: calc(50% - 4vh);
  transform: rotate(78.75deg) translateY(-10vh);
}
.subtitle-4 {
  position: absolute;
  font-size: 1.8em;
  left: calc(50% - 8vh);
  top: calc(50% + 0vh);
  transform: rotate(101.25deg) translateY(-10vh);
}
.subtitle-5 {
  position: absolute;
  font-size: 1.8em;
  left: calc(50% - 11vh);
  top: calc(50% + 4vh);
  transform: rotate(123.75deg) translateY(-10vh);
}
.subtitle-6 {
  position: absolute;
  font-size: 1.8em;
  left: calc(50% - 14vh);
  top: calc(50% + 4vh);
  transform: rotate(146.25deg) translateY(-10vh);
}

.subtitle-7 {
  position: absolute;
  font-size: 1.8em;
  left: calc(50% - 18vh);
  top: calc(50% + 5vh);
  transform: rotate(168.75deg) translateY(-10vh);
}
.subtitle-8 {
  position: absolute;
  font-size: 1.8em;
  left: calc(50% - 20vh);
  top: calc(50% + 3vh);
  transform: rotate(191.25deg) translateY(-10vh);
}
.subtitle-9 {
  position: absolute;
  font-size: 1.8em;
  left: calc(50% - 24vh);
  top: calc(50% + 3vh);
  transform: rotate(213.75deg) translateY(-10vh);
}
.subtitle-10 {
  position: absolute;
  font-size: 1.8em;
  left: calc(50% - 27vh);
  top: calc(50% - 1vh);
  transform: rotate(236.25deg) translateY(-10vh);
}
.subtitle-11 {
  position: absolute;
  font-size: 1.8em;
  left: calc(50% - 26vh);
  top: calc(50% - 4vh);
  transform: rotate(258.75deg) translateY(-10vh);
}
.subtitle-12 {
  position: absolute;
  font-size: 1.8em;
  left: calc(50% - 28vh);
  top: calc(50% - 7vh);
  transform: rotate(281.25deg) translateY(-10vh);
}
.subtitle-13 {
  position: absolute;
  font-size: 1.8em;
  left: calc(50% - 25vh);
  top: calc(50% - 11vh);
  transform: rotate(303.75deg) translateY(-10vh);
}
.subtitle-14 {
  position: absolute;
  font-size: 1.8em;
  left: calc(50% - 23vh);
  top: calc(50% - 12vh);
  transform: rotate(326.25deg) translateY(-10vh);
}
.subtitle-15 {
  position: absolute;
  font-size: 1.8em;
  left: calc(50% - 19vh);
  top: calc(50% - 15vh);
  transform: rotate(348.75deg) translateY(-10vh);
}

.number {
  font-weight: bold;
}
