:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
#background {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
}
#outer-wheel {
  font-size: 1.5vh;
  position: relative;
  /* position: absolute; */
  border-radius: 50%;
  height: 90vh;
  width: 90vh;
  border-color: black;
  border-style: solid;
  border-width: 0.3vh;
  flood-color: antiquewhite;
}
#inner-wheel {
  /* margin-left: auto;
  margin-right: auto;
  margin: auto;
  transform: translateY(-28vh); */
  left: 7.5vh;
  top: 7.5vh;
  border-radius: 50%;
  position: absolute;
  height: 75vh;
  width: 75vh;
  border-color: black;
  border-style: solid;
  border-width: 0.3vh;
}
#ring-wheel {
  transform: translateX(36.5vh) translateY(36.5vh);
  border-radius: 50%;
  /* margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto; */
  height: 1vw;
  width: 1vw;
  border-color: burlywood;
  border-style: solid;
  border-width: 0.2vw;
}

.location-one {
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50%);
  transform: translateY(-43vh);
}
.location-two {
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50%);
  transform: rotate(22.5deg) translateY(-43vh);
}
.location-three {
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50%);
  transform: rotate(45deg) translateY(-42vh);
}
.location-four {
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50%);
  transform: rotate(67.5deg) translateY(-42vh);
}
.location-five {
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50%);
  transform: rotate(90deg) translateY(-42vh);
}
.location-six {
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50%);
  transform: rotate(112.5deg) translateY(-41vh);
}
.location-seven {
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50%);
  transform: rotate(135deg) translateY(-41vh);
}
.location-eight {
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50%);
  transform: rotate(157.5deg) translateY(-41vh);
}
.location-nine {
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50%);
  transform: rotate(180deg) translateY(-41vh);
}
.location-ten {
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50%);
  transform: rotate(202.5deg) translateY(-41vh);
}
.location-eleven {
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50%);
  transform: rotate(225deg) translateY(-40vh);
}
.location-twelve {
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50%);
  transform: rotate(247.5deg) translateY(-40vh);
}
.location-thirteen {
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50%);
  transform: rotate(270deg) translateY(-41vh);
}
.location-fourteen {
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50%);
  transform: rotate(292.5deg) translateY(-41vh);
}
.location-fifteen {
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50%);
  transform: rotate(315deg) translateY(-42vh);
}
.location-sixteen {
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50%);
  transform: rotate(337.5deg) translateY(-43vh);
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
